body {
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bold;
}

div {
    color: black;
}

.col-lg-3.col-md-6 {
    padding-top: 20px;
}

/* COLOR CARD */
#color1 {
    background-color: #F38181;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#color2 {
    background-color: #FCE38A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#color3 {
    background-color: #EAFFD0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#color4 {
    background-color: #95E1D3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}